@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0deg 0% 95%);
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
}

main {
  display: flex;
  width: 65%;
  margin: auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  width: 100%;
  height: 70vh;
}

.card-1,
.card-2,
.card-3 {
  width: 33.33%;
  padding: 3em;
  height: 100%;
  color: white;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  padding-bottom: 1em;
}

button {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  border: none;
  border-radius: 3em;
}

p {
  min-height: 30vh;
}
figure {
  padding: 0.7em;
}

.card-1 {
  background-color: hsl(30deg 77% 52%);
  border-radius: 0.3em;
}
.card-2 {
  background-color: hsl(185deg 98% 23%);
}
.card-3 {
  background-color: hsl(179deg 100% 13%);
  border-radius: 0.3em;
}
.button-1 {
  color: hsl(30deg 77% 52%);
}

.button-2 {
  color: hsl(185deg 98% 23%);
}
.button-3 {
  color: hsl(179deg 100% 13%);
}
